# api id and api hash (my.telegram.org)
# required
API_ID='12404490'
API_HASH='a4c8b5a2645b3ca850d1abdbea4a8c69'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQA6ug6T8ZtPGrniNxs2EYel_N_KYI_hKRMeqo5BvpoGNFsBnd4pe-fQwsHvFOYqbdNYicMhYGDj9MvNoto_XEd9vS_VSMf61BxGdK0s45qvI0aXdvmtbORMM-Tl3J3yLLI_RE06YhzgIbikDvKL0u69U00l-rf0xQBv6nymSkfljiLz5V-QLu3aNJ-hK93dTp-Ntm7IEX5SYRPuN2aWlhLTUjurFPqwQjd3RQk9HXMV2IlkwVZD_Ssg3fGQZk4v8TSanWIz_jFZ8hJ68aL0yr-O2UIYty-jP_33wIffrrlBeT2bDL9vicdGgRQn46kN0GMyNVP9VZ6qZZ8p0gtVMrrragObBQA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN=''

# sudo user ids (separate with space)
# optional
SUDOERS='1778621189'

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='low'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID='06b8b0a5434549769b5cda2e82309bba'
SPOTIFY_CLIENT_SECRET='3d0862aacaa0494ab8bdc1d2698309cc'
